@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

#channels-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.channel-container {
  display: flex;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.channel-image {
  max-height: 140px;
}

.controls-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.title {
  font-size: 18px;
  color: white;
  font-weight: 500;
}
